if status is-interactive
  # Commands to run in interactive sessions can go here
end

# pnpm
set -gx PNPM_HOME "/home/mucho613/.local/share/pnpm"
if not string match -q -- $PNPM_HOME $PATH
  set -gx PATH "$PNPM_HOME" $PATH
end
# pnpm end

# workspace
alias wk='cd ~/workspace'

# fish
alias fishrc='vi ~/.config/fish/config.fish'
alias fishrcs='source ~/.config/fish/config.fish'
# fish end

# ls -> eza
alias ei="eza --icons --git --time-style long-iso"
alias ea="eza -a --icons --git --time-style long-iso"
alias ee="eza -aal --icons --git --time-style long-iso"
alias et="eza -T -L 3 -a -I 'node_modules|.git|.cache' --icons"
alias eta="eza -T -a -I 'node_modules|.git|.cache' --color=always --icons | less -r"
alias ls=ei
alias la=ea
alias ll=ee
alias lt=et
alias lta=eta

# nvim
alias vi='nvim'
alias vimrc='vi ~/.config/nvim'
# nvim end

# tmux
alias tmuxrc='vi ~/.config/tmux/tmux.conf'
alias tmuxrcs='tmux source-file ~/.config/tmux/tmux.conf'
# tmux end

# git
alias gitrc='vi ~/.config/git/config'
alias gitrcs='git config --global --edit'

alias lg='lazygit'
# git end

# alacritty
alias alacrittyrc='vi ~/.config/alacritty/alacritty.toml'
# alacritty end

# Added by `rbenv init` on Fri Aug 29 19:53:11 JST 2025
status --is-interactive; and ~/.rbenv/bin/rbenv init - --no-rehash fish | source
